@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');

::-webkit-scrollbar {
  display: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom right, #ff6666, #cc66be);
}

h1 {
  font-family: "Pacifico";
  font-size: 9em;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
}

h2 {
  font-family: "Pacifico";
  font-size: 2em;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

h3 {
  font-family: "ABeeZee";
  font-size: 1em;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

a {
  color: white;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.login {
  border: 5px solid white;
  padding-bottom: 5px;
  margin-top: 10px;
}

.login h3 {
  font-family: "Pacifico";
  font-size: 1.1em;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.login a {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.button {
  font-family: "Pacifico";
  font-size: 1.1em;
  color: white;
  background-color: transparent;
  border: 5px solid white;
  padding-bottom: 5px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.home_link {
  border: 5px solid white;
  border-radius: 50%
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Pacifico";
  font-size: 1.25em;
  color: white;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.landing, .user {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.landing_link {
  border: 5px solid white;
  border-radius: 50%
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.city_explorer {
  border: 5px solid white;
  border-radius: 50%
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.star_rating {
  display: flex;
  flex-direction: row;
}

.user h1, .landing h1 {
  font-size: 5em;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.user_list_table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: scroll;
  width: 50%;
}

.two_column_body {
  display: flex;
  flex-direction: row;
  width: 75%;
}

.feed_table {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  overflow: scroll;
  width: 75%;
  font-family: "ABeeZee";
  color: white;
  border-left-style: solid;
  border-left-color: white;
  border-left-width: thin;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: thin;
}

.badge_table {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: scroll;
  width: 25%;
  font-family: "ABeeZee";
  color: white;
  border-right-style: solid;
  border-right-color: white;
  border-right-width: thin;
}

.first_row {
  vertical-align: bottom;
  padding-bottom: 0px;
}

.last_row {
  vertical-align: top;
  padding-top: 0px;
}

.rating_restaurant {
  width: 30%;
}

.rating_user {
  width: 20%;
}

.rating_user a {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.rating_stars {
  width: 10%;
}

.rating_comment {
  width: 70%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

