html{
  height: 100%;
  width: 100%;
  background-image: url('background3.jpg');
  background-repeat: repeat;
  background-position: center;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  left: 0;
  font-family: 'Open Sans', sans-serif;

  height: inherit;
}

div {
    margin: 0px 0px 0px 0px;
}


a {
  color: #1a1a1a;
  text-decoration: none;
}

h1 {
    color: #1a1a1a;
    text-decoration: none;
    font-size: 76px;
    margin: 0px 0px 0px 0px;
}

h2 {
  color: #1a1a1a;
  text-decoration: none;
  font-size: 56px;
  margin: 0px 0px 0px 0px;
}

h2 {
  color: #1a1a1a;
  text-decoration: none;
  font-size: 36px;
  margin: 0px 0px 0px 0px;
}

td {
  padding-right: 10px;
  /*border-width: medium;
  border-color: #ffffff;
  border: 1px 1px 1px 1px;
  border-style: solid;
  */
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
}

.footer-name {
  color: #ffffff;
  background-color: #1a1a1a;
  opacity: .75;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  width: 100px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-top: 1px;
  padding-right: 15px;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
}

.column_header_center {
  text-align: center;
}

.column_header_left {
  text-align: left;
}

.column_center {
  text-align: center;
}

.column_left {
  text-align: left;
}

.notice {
  position: fixed;
  height: 50px;
  padding: 1px;
  bottom: -70px;
  text-align: center;
  background: #B6D491;
  color: #4C2516;
  vertical-align: middle;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.notice h2 {
  color: #1a1a1a;
  text-decoration: none;
  font-size: 36px;
  margin: 0px 0px 0px 0px;

}

.flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: inherit;
}

.content {
  color: #1a1a1a;
  align-self: center;
  height: 90%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background: #ffffff;
  color: #1a1a1a;
  padding: 0px, 0px, 0px, 0px;
  margin: 0px, 0px, 0px, 0px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /*background: #ffffff;
  opacity: 0.4;*/
  color: #1a1a1a;
  padding: 5px 5px 5px 5px;
}

.small_main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  flex-wrap: wrap;
  color: #1a1a1a;
  background: #ffffff;
  opacity: 0.7;
  padding: 0px, 0px, 0px, 0px;
}

.data_table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background: #ffffff;
  opacity: 0.8;
  color: #1a1a1a;
  padding: 0px 30px 0px 30px;
  height: 85%;
  overflow: scroll;
  /*border-width: medium;
  border-color: #ffffff;
  border: 1px 1px 1px 1px;
  border-style: solid;
  */
}

.navigation {
  background: #ffffff url('twinkle_twinkle.png') repeat left top;
    /* Background pattern from subtlepatterns.com */
    overflow: auto;
  opacity: 0.8;
  position: fixed;
  display: inline;
  height: 100%;
  left: -250px;
  width: 250px;
  overflow: scroll;
  margin-bottom: 100px;
}

.nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}


.nav-link a {
    color: #ffffff;
    font-size: 26px;
    text-decoration: none;
}

.menu {
  color: #ffffff;
  background-color: #1a1a1a;
  opacity: .75;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  left: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 15px;
  text-decoration: none;
  text-transform: uppercase;
  position: fixed;
  align-self: flex-start;
}

.menu-close {
  cursor: pointer;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  text-align: center;
}

.login-button {
  background-color: #1a1a1a;
  opacity: .75;
}

.login-button a {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-top: 0px;
  padding-right: 20px;
}

.rating_table {
  background: rgba(255, 255, 255, 1);
  color: #000000;
}

.rating_row {
  padding-top: 0px;
  padding-bottom: 30px;
  border-bottom-color: #1a1a1a;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.rating_user {
  padding-top: 10px;
  padding-bottom:10px;
  font-family: 'Gotham', sans-serif;
  font-size: 18px;
  text-align: left;
  vertical-align: bottom;

}

.rating_date {
  padding-top: 10px;
  padding-bottom:10px;
  font-family: 'Gotham', sans-serif;
  font-size: 13px;
  vertical-align: bottom;
}

.rating_rating {
  background-color: #6f6f6f;
  padding-top: 10px;
  padding-bottom:10px;
  font-family: 'Gotham', sans-serif;
  font-size: 52px;
  text-align: center;
}

.rating_rating p {
  font-size: 10px;
}

.rating_restaurant {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Gotham', sans-serif;
  font-size: 40px;
  text-align: left;
  vertical-align: middle;
}

.rating_comment {
  padding-top: 10px;
  padding-bottom:10px;
  font-family: 'Gotham', sans-serif;
  font-size: 26px;
  text-align: left;
  vertical-align: middle;
}

.field_label {
  font-weight: bold;
  font-size: 15px;
  text-align: right;
}

.cross-off {
  text-decoration: line-through;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

