<div class = 'main'>
  <h1>Plate Up!</h1>
</div>
<div class = 'main'>
  <p> to all my haters...</p>
</div>
<div class = 'main'>
  <%= link_to("Login", :controller => 'access', :action => 'login') %>
</div>
