<div class = 'main'>
  <h1>Social Plate</h1>
</div>
<div class = 'main'>
  <p>Looking for a name for this app!</p>
</div>
<div class = 'main'>
  <%= link_to("Login", :controller => 'access', :action => 'login') %>
</div>
