<div class = 'main'>
  <h1>OM NOM NOM</h1>
</div>

<div class = 'main'>
  <p>App for finding restaurants rated by your friends!</p>
</div>

<div class = 'main'>
  <p>Just a temporary name...still looking for a name for this app!</p>
</div>

<div class = 'main'>
  <h2><%= link_to("Login", :controller => 'access', :action => 'login') %></h2>
</div>

<div class = 'main'></div>
<div class = 'main'></div>
<div class = 'main'></div>
<div class = 'main'></div>
<div class = 'main'></div>
<div class = 'main'></div>
<div class = 'main'></div>
<div class = 'main'></div>

<div><p>Features to add in for basic function:</p></div>
<div>
  <ul>
    <li>App Name</li>
    <li>User profile</li>
    <li>Friending users (this will take a while)</li>
    <li>Finding users</li>
    <li>Search restaurants (by name, city, neighborhood)</li>
    <li>Make this look pretty (will always be continuous)</li>
    <li>Advertisements! (gotta pay the bills)</li>
  </ul>
</div>

<div>
  <p>Future features:</p>
</div>
<div>
  <ul>
    <li>Supper clubs!</li>
    <li>User reward system (not real rewards, but badges/achivements and stuff)</li>
  </ul>
</div>
