<div class = 'main'>
  <h1>Social Plate</h1>
</div>
<div class = 'main'>
  <p>Margeaux, please be gentle with any critiques...:)</p>
</div>
<div class = 'main'>
  <%= link_to("Login", :controller => 'access', :action => 'login') %>
</div>
