<div class = "user">

  <table>
    <tr>
      <td>
        <div>
          <%= link_to("Rate", {:controller => 'rating', :action => 'index'}, :class => "home_link") %>
        </div>
      </td>
      <td>
        <div>
          <%= link_to("Home", {:controller => 'landing', :action => 'index'}, :class => "home_link") %>
        </div>
      </td>
      <td>
        <div>
          <%= link_to("Explore", {:controller => 'restaurant', :action => 'index'}, :class => "home_link") %>
        </div>
      </td>
    </tr>
  </table>

  <h1>Friends</h1>

  <div class = "user_list_table">
    <% @users.each do |user| %>
      <h3><%= link_to(user.username, {:controller => 'rating', :action => 'user_rating_list', :user_id => user.id}, :class => 'landing_link') %></h3>
    <% end %>
  </div>

</div>
